.bookcontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-wrap: break-word;
}

.book-text h4 {
  overflow-wrap: break-word;
  word-break: break-word;
}
.booklist-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-item {
  display: flex;
  width: 100%;
  align-items: center;
}

.book-img {
  width: 300px;
  display: flex;
  justify-content: center;
}

.book-img-size {
  width: 200px;
  height: auto;
}

.book-text {
  width: 100vh;
  font-size: 24px;
  /* padding-left: 20px; */
}

@media (max-width: 769px) {
  .book-img-size {
    width: 60%;
  }

  .book-text {
    font-size: 16px;
  }
}
