.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fbContent {
  width: 95%;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #f6ecec;
}
.fbBtn {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  flex-direction: center;
}

.fbBtn > button {
  width: 100px;
  height: 45px;
  background-color: #ffe5d5;
  border: solid 1.5px white;
  color: #e38981;
}

.star {
  color: gray; /* 기본 별 색상 */
}

.yellow {
  color: yellow; /* 선택된 별 색상 */
}

input[type='radio'] {
  display: none;
}

@media (min-width: 768px) {
  .fbContent {
    height: 500px;
  }
}
