.main {
  width: auto;
}

.main-img {
  width: 60%;
  height: 100%;
  margin-left: 3%;
}

.today-comment {
  width: 100%;
  display: flex;
  height: auto;
  font-size: 23px;
}

.main-left {
  float: left;
  width: 50%;
  height: 90%;
}

.main-info-right {
  float: right;
  width: 50%;
  height: 90%;
  font-size: 25px;
}
.main-info {
  display: flex;
  width: 100%;
  height: 35%;
}

.choice-box {
  display: flex;
  width: 80%;
  height: 450px;
  border: solid 2px black;
  display: flex;
  margin-left: 10%;
  flex-direction: column;
}

.choice-btn {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
  align-items: center;
}
.choice-btn > img {
  width: 30%;
  height: 60%;
}

@media (max-width: 767px) {
  .main-img {
    width: 90%;
    height: 70%;
  }
  .today-comment {
    width: 100%;
    font-size: 15px;
  }

  .main-left {
    width: 50%;
    height: 100%;
  }

  .main-info-right {
    width: 50%;

    font-size: 16px;
  }
  .main-info {
    width: 100%;
    height: 35%;
  }

  .main-info-right {
    width: 50%;
    height: 90%;
    font-size: 15px;
  }
}

@media (min-width: 668px) and (max-width: 1179px) {
  .choice-box {
    width: 80%;
    height: 500px;
    margin-left: 10%;
  }
  .choice-btn > img {
    width: 30%;
    height: 60%;
  }
  .choice-btn {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 667px) {
  .choice-box {
    width: 80%;
    height: 280px;
    margin-left: 10%;
  }
  .choice-btn > img {
    width: 30%;
    height: 60%;
  }
  .choice-btn {
    width: 100%;
    height: 50%;
  }
}
