.userInfo {
  display: flex;
}

.putbtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.putbtn-change {
  background-color: #ffe5d5;
  width: 40%;
  height: 30%;
  border-color: white;
  border-width: medium;
  color: #e38981;
}

.mainprofil-info-right {
  float: right;
  width: 50%;
  height: 80%;
  font-size: 30px;
}

.profilText {
  display: flex;
  margin-top: 30px;
  width: 70%;
  height: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.chart {
  width: 80%; /* 너비를 조절합니다. 원하는 크기로 변경하세요. */
  max-width: 400px; /* 최대 너비를 설정할 수 있습니다. */
  border: 1px solid #444444;
  border-collapse: collapse;
}

.chart-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* 행 추가 버튼 스타일 */
button {
  margin-top: 10px;
}

th,
td {
  border: 2px solid #444444;
}

.profilContent {
  display: flex;
  flex-direction: row;
}

.profilContent > input {
  display: flex;
  width: 70%;
  height: 100%;
}

.mainprofil {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 667px;
}

.mainprofil-info {
  width: 100%;
  height: 40%;
}

.mainprofil-left {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100%;
}

.mainprofil-img {
  width: 60%;
  height: 100%;
}

@media (min-width: 421px) and (max-width: 1000px) {
  .mainprofil-img {
    width: 80%;
    height: 80%;
  }

  .mainprofil-left {
    width: 50%;
    height: 100%;
  }

  .mainprofil-info-right {
    float: right;
    width: 50%;
    height: 80%;
    font-size: 30px;
  }
  .mainprofil-info {
    width: 100%;
    height: 50%;
  }
}

@media (max-width: 420px) {
  .mainprofil-img {
    width: 80%;
    height: 70%;
  }

  .mainprofil-left {
    width: 50%;
    height: 100%;
  }

  .mainprofil-info-right {
    float: right;
    width: 50%;
    height: 100%;
    font-size: 15px;
  }
  .mainprofil-info {
    width: 100%;
    height: 35%;
  }
}
